.mainContainer {
  .cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .loadingContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60vh;

      svg {
        width: 20vw;
        height: 20vh;
      }
    }
  }
}
