.errorMessage {
  color: var(--color-error);
  font-size: var(--font-size-small);
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;

  .input {
    padding: 10px;
    width: 100%;
  }
}
