@import '../../styles/input.scss';

.errorMessage {
  color: var(--color-error);
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.input {
  @extend %input;
}

.inputError {
  border: 1px solid var(--color-error);
}

.inputError:focus {
  border-color: var(--color-error);
}
