.fallbackContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-input-border);
  min-height: 100vh;

  h2 {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .fallback {
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
  }

  .reloadBtn {
    max-width: 250px;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    background-color: var(--color-input-border);
    color: var(--color-primary-light);

    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}
