.cardContainer {
  width: 100%;
  width: 500px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    z-index: 2;
    max-width: 350px;
    padding-top: 0;
  }

  .loadingContainer {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;

    .loadingIcon {
      width: 100px;
      height: 100px;
    }
  }
}
