.cardContainer {
  width: 100%;
  width: 500px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  padding-top: 155px;

  .loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .loadingIcon {
      width: 15vw;
      height: 15vh;
    }
  }
}
