.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 40px 20px;
  max-width: 450px;

  img {
    width: 100%;
  }

  a {
    width: 100%;
  }

  button {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--color-input-border);
    border-radius: 5px;
    background-color: var(--color-input-border);
    color: var(--color-primary-light);

    &:hover {
      background-color: var(--color-button-hover);
    }
  }
}