%input {
  flex: 1;
  max-height: 40px;
  padding: 6px 10px;
  border: 1px solid var(--color-primary-border);
  border-radius: 8px;

  &:focus,
  &:hover {
    border: 1px solid var(--color-hover-border);
    transform: scale(1.01);
    outline: none;
  }
}
