@import './fonts.scss';

$font-family-primary: 'Commissioner', sans-serif;
$font-line-height-primary: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-primary: 16px;
$font-size-middle: 18px;
$font-size-h2: 24px;

$color-primary-light: #ffffff;
$color-primary-dark: #2a2a2a;
$color-input-border: #0c4a28;
$color-link-active: #2f955d;
$color-button-hover: #15693b;
$color-error-text: #8b0f0f;
$color-primary-bg: #fffbf8;
$color-secondary-bg: #cbe7cb;

$width-main-container: 1440px;
