@import './fonts.scss';

$font-family-primary: 'Commissioner', sans-serif;
$font-line-height-primary: 1.5;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-size-primary: 16px;
$font-size-h2: 24px;

$color-primary-light: #ffffff;
$color-primary-dark: #2a2a2a;
$color-input-border: rgba(108, 108, 108, 0.3);
$color-primary-bg-light: #fffbf8;

$width-main-container: 1440px;
