@import '../../styles/input.scss';

.errorMessage {
  color: var(--color-error);
}

.label {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;

  span {
    margin-right: 10px;
  }

  .input {
    @extend %input;
  }
}
