@import '../../styles/input.scss';

.errorMessage {
  color: var(--color-error);
  font-size: var(--font-size-small);
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  min-height: 45px;

  span {
    margin-right: 10px;
  }

  .input {
    @extend %input;
  }
}
