.cardContainer {
  width: 100%;
  width: 500px;
  display: flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  @media (max-width: 1000px) {
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    z-index: 2;
    max-width: 350px;
    padding-top: 0;
  }

  .loadingContainer {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;

    .loadingIcon {
      width: 100px;
      height: 100px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-bg);
  box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;

  .cardInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: var(--color-secondary-bg);
    border-radius: 10px;
    padding: 16px;

    .closeBtn {
      padding: 6px;
      cursor: pointer;
      border: 1px solid var(--color-input-border);
      border-radius: 5px;
      background-color: var(--color-input-border);
      color: var(--color-primary-light);

      &:hover {
        background-color: var(--color-button-hover);
      }
    }

    .cardImg {
      max-width: 350px;
      display: flex;
      align-self: center;
      margin: 0 auto;

      img {
        width: 100%;
        display: flex;
        border-radius: 50%;
      }
    }

    .cardDescription {
      margin-top: 6px;
    }
  }
}
