@import '../../styles/input.scss';

.errorMessage {
  color: var(--color-error);
  font-size: var(--font-size-small);
}

.wrapper {
  display: flex;
  position: relative;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 83px;
}

.input {
  @extend %input;
  height: 35px;
}

.inputImgWrapper {
  height: 20px;
  width: 40px;
  position: absolute;
  cursor: pointer;
  top: calc(50% - 10px);
  right: 6px;
  background: none;
  border: none;

  svg {
    width: 24px;
    height: 20px;
  }

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(1);
  }
}

.inputError {
  border: 1px solid var(--color-error);
}

.inputError:focus {
  border-color: var(--color-error);
}
