.searchWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .searchForm {
    position: relative;
    display: flex;
    box-shadow: 4px 3px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
    max-width: 400px;
    width: 100%;

    @media screen and (max-width: 360px) {
      max-width: 300px;
    }

    .searchInput {
      padding: 10px;
      width: 100%;
      border: 2px solid var(--color-input-border);
      border-radius: 5px 0 0 5px;
      background-color: var(--color-primary-bg-light);
      outline-color: var(--color-input-border);
    }

    .clearInputBtn {
      display: flex;
      justify-content: center;
      opacity: 0.3;
      border: none;
      background-color: transparent;
      position: absolute;
      right: 46px;
      top: 12px;
      cursor: pointer;

      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .searchBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      width: 42px;
      cursor: pointer;
      border: 1px solid var(--color-input-border);
      border-left: none;
      border-radius: 0 5px 5px 0;
      background-color: var(--color-input-border);

      &:hover {
        background-color: var(--color-button-hover);
      }

      svg {
        width: 20px;
        height: 20px;
        filter: invert(100%);
      }
    }
  }
}
